<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{.Title}}</title>
        {{/* Include mermaid stylesheets */}}
        <link rel="stylesheet" href="mermaid.min.css">
    </head>
    <body>
        <h1>{{.Title}}</h1>
        {{if .ViewName}}<h2>View: {{.ViewName}}</h2>{{end}}
        {{if .Context}}<h3>Context: {{.Context}}</h3>{{end}}
        <div class="mermaid">
            {{.Chart}}
        </div>
        {{/* Include mermaid.js */}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.3.1/mermaid.min.js"></script>
        {{/* Configure/run mermaid.js */}}
        <script>
            mermaid.initialize({
                startOnLoad:true, // TODO: Can we remove this?
                securityLevel: 'loose', // Allow click events
            });
        </script>
    </body>
</html>
